porcelain/__pycache__/__init__.cpython-310.pyc
porcelain/__pycache__/__init__.cpython-310.pyc
porcelain/__pycache__/__init__.cpython-312.pyc
porcelain/__pycache__/settings.cpython-310.pyc
porcelain/__pycache__/settings.cpython-312.pyc
porcelain/__pycache__/urls.cpython-310.pyc
porcelain/__pycache__/urls.cpython-312.pyc
porcelain/__pycache__/wsgi.cpython-312.pyc
porcelain/__pycache__/wsgi.cpython-310.pyc
porcelain/__pycache__
shop/__pycache__
porcelain/__pycache__/__init__.cpython-310.pyc
porcelain/__pycache__/__init__.cpython-312.pyc
porcelain/__pycache__/settings.cpython-310.pyc
porcelain/__pycache__/settings.cpython-312.pyc
porcelain/__pycache__/urls.cpython-310.pyc
porcelain/__pycache__/urls.cpython-312.pyc
porcelain/__pycache__/wsgi.cpython-310.pyc
shop/__pycache__/__init__.cpython-310.pyc
shop/__pycache__/__init__.cpython-312.pyc
shop/__pycache__/admin.cpython-310.pyc
shop/__pycache__/admin.cpython-312.pyc
shop/__pycache__/apps.cpython-310.pyc
shop/__pycache__/apps.cpython-312.pyc
shop/__pycache__/models.cpython-310.pyc
shop/__pycache__/models.cpython-312.pyc
shop/__pycache__/serializers.cpython-310.pyc
shop/__pycache__/serializers.cpython-312.pyc
shop/__pycache__/urls.cpython-310.pyc
shop/__pycache__/urls.cpython-312.pyc
shop/__pycache__/views.cpython-310.pyc
shop/__pycache__/views.cpython-312.pyc
shop/migrations/__pycache__/__init__.cpython-310.pyc
shop/migrations/__pycache__/__init__.cpython-312.pyc
shop/migrations/__pycache__/0001_initial.cpython-310.pyc
shop/migrations/__pycache__/0001_initial.cpython-312.pyc
shop/migrations/__pycache__/0002_alter_product_introduction_date.cpython-312.pyc
shop/migrations/__pycache__/0002_remove_client_name.cpython-310.pyc
shop/migrations/__pycache__/0002_remove_client_name.cpython-312.pyc
shop/migrations/__pycache__/0003_remove_client_firstname_remove_client_lastname_and_more.cpython-310.pyc
shop/migrations/__pycache__/0003_remove_client_firstname_remove_client_lastname_and_more.cpython-312.pyc
